*.a
*.bak
*.dll
*.ilk
*.log
*.ncb
*.o
*.obj
*.opensdf
*.pch
*.res
*.sbr
*.sdf
*.sln
*.suo
*.tlb
*.tlh
*.unsuccessfulbuild
*.user
*.vcproj
*.vcxproj
*.vspscc
*.vssscc
.vs/
.vscode/
Makefile
CMakeCache.txt
CMakeFiles
Debug*/
Release*/
x64/
Win64/
build/
cmake_install.cmake
ipch/
