*.a
*.bak
*.dll
*.ilk
*.log
*.ncb
*.o
*.obj
*.opensdf
*.pch
*.res
*.sbr
*.sdf
*.sln
*.suo
*.tlb
*.tlh
*.unsuccessfulbuild
*.user
*.vcproj
*.vcxproj
*.vspscc
*.vssscc
.vs/
.vscode/
/Makefile
/samples/Makefile
/src/Makefile
CMakeCache.txt
CMakeFiles
Debug*
Release*
build/
cmake_install.cmake
ipch/
